<!-- ============================================ -->
<!--                   Gallery                    -->
<!-- ============================================ -->

<section id="gallery">
    <div class="cs-container">
        <% if show_topper %>
            <span class="cs-topper">Our Portfolio</span>
            <h2 class="cs-title">Et orci volutpat, back up generator installations</h2>
        <% end %>
        <div class="cs-image-group">
            <!-- Row 1-->
            <div class="cs-row cs-row-1">
                <picture class="cs-picture cs-picture1">
                    <%= tag.source(srcset: asset_path("portfolio/port1-m.jpg"), media: "(max-width: 600px)") %>
                    <%= tag.source(srcset: asset_path("portfolio/port1.jpg"), media: "(min-width: 601px)") %>
                    <%= image_tag "portfolio/port1.jpg", alt: "new hallway", width: 400, height: 560, loading: "lazy", decoding: "async", aria_hidden: true %>
                </picture>
                <picture class="cs-picture cs-picture2">
                    <%= tag.source(srcset: asset_path("portfolio/port4-m.jpg"), media: "(max-width: 600px)") %>
                    <%= tag.source(srcset: asset_path("portfolio/port4.jpg"), media: "(min-width: 601px)") %>
                    <%= image_tag "portfolio/port4.jpg", alt: "new home construction", width: 400, height: 560, loading: "lazy", decoding: "async", aria_hidden: true %>
                </picture>
                <picture class="cs-picture cs-picture3">
                    <%= tag.source(srcset: asset_path("portfolio/port7-m.jpg"), media: "(max-width: 600px)") %>
                    <%= tag.source(srcset: asset_path("portfolio/port7.jpg"), media: "(min-width: 601px)") %>
                    <%= image_tag "portfolio/port7.jpg", alt: "building a new wall", width: 400, height: 560, loading: "lazy", decoding: "async", aria_hidden: true %>
                </picture>
                <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
            </div>
            <!-- Row 2 -->
            <div class="cs-row cs-row-2">
                <picture class="cs-picture cs-picture1">
                    <%= tag.source(srcset: asset_path("portfolio/port2-m.jpg"), media: "(max-width: 600px)") %>
                    <%= tag.source(srcset: asset_path("portfolio/port2.jpg"), media: "(min-width: 601px)") %>
                    <%= image_tag "portfolio/port2.jpg", alt: "new kitchen", width: 400, height: 560, loading: "lazy", decoding: "async", aria_hidden: true %>
                </picture>
                <picture class="cs-picture cs-picture2">
                    <%= tag.source(srcset: asset_path("portfolio/port5-m.jpg"), media: "(max-width: 600px)") %>
                    <%= tag.source(srcset: asset_path("portfolio/port5.jpg"), media: "(min-width: 601px)") %>
                    <%= image_tag "portfolio/port5.jpg", alt: "apartment addition", width: 400, height: 560, loading: "lazy", decoding: "async", aria_hidden: true %>
               </picture>
                <picture class="cs-picture cs-picture3">
                    <%= tag.source(srcset: asset_path("portfolio/port8-m.jpg"), media: "(max-width: 600px)") %>
                    <%= tag.source(srcset: asset_path("portfolio/port8.jpg"), media: "(min-width: 601px)") %>
                    <%= image_tag "portfolio/port8.jpg", alt: "kew kitchen cabinets", width: 400, height: 560, loading: "lazy", decoding: "async", aria_hidden: true %>
                </picture>
                <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
            </div>
            <!-- Row 3 -->
            <div class="cs-row cs-row-3">
                <picture class="cs-picture cs-picture1">
                <%= tag.source(srcset: asset_path("portfolio/port3-m.jpg"), media: "(max-width: 600px)") %>
                <%= tag.source(srcset: asset_path("portfolio/port3.jpg"), media: "(min-width: 601px)") %>
                <%= image_tag "portfolio/port3.jpg", alt: "new kitchen", width: 400, height: 560, loading: "lazy", decoding: "async", aria_hidden: true %>
                </picture>
                <picture class="cs-picture cs-picture2">
                <%= tag.source(srcset: asset_path("portfolio/port6-m.jpg"), media: "(max-width: 600px)") %>
                <%= tag.source(srcset: asset_path("portfolio/port6.jpg"), media: "(min-width: 601px)") %>
                <%= image_tag "portfolio/port6.jpg", alt: "apartment addition", width: 400, height: 560, loading: "lazy", decoding: "async", aria_hidden: true %>
                </picture>
                <picture class="cs-picture cs-picture3">
                <%= tag.source(srcset: asset_path("portfolio/port9-m.jpg"), media: "(max-width: 600px)") %>
                <%= tag.source(srcset: asset_path("portfolio/port9.jpg"), media: "(min-width: 601px)") %>
                <%= image_tag "portfolio/port9.jpg", alt: "kew kitchen cabinets", width: 400, height: 560, loading: "lazy", decoding: "async", aria_hidden: true %>
                </picture>

                <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
            </div>
        </div>
        <a href="/contact" class="cs-button-solid">Get Free Quote</a>
    </div>
</section>
